.text-filter-wrapper {
  position: relative;
  min-width: 200px;
  width: 100%;
  border-radius: 0 0 6px 6px;
}

.text-filter-input {
  flex: 1;
  font-size: 14px;
  border: none;
  background-color: white;
  box-sizing: border-box;
  color: var(--color-green-dark);
  font-weight: 500;
  flex-shrink: 0;
}

.text-filter-input:focus {
  outline: none;
}

.text-filter-input::placeholder {
  color: #999;
}

.text-filter-input-row {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 8px 8px;
  flex-shrink: 0;
  border-radius: 0 0 6px 6px;
}

.text-filter-add-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: var(--color-green-dark);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
}

.text-filter-add-button:hover {
  opacity: .9;
}

.text-filter-add-button:active {
    opacity: .7;
}

.text-filter-add-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.text-filter-checkboxes-container {
  width: 100%;
  font-size: 14px;
  color: var(--color-blue);
  text-align: left;
}

.text-filter-checkboxes {
  display: flex;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0 16px 0;
  background-color: transparent;
  flex-shrink: 0;
  border-bottom: 1px var(--color-blue-light) solid;
}

.text-filter-checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
}

.text-filter-checkbox-label input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.text-filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  background-color: white;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

.clear-button {
  margin-top: 8px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-red);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  white-space: nowrap;
  align-self: flex-end;
}

.clear-button:hover {
  opacity: 0.8;
}

.clear-button:active {
  opacity: 0.6;
}
